@charset 'utf-8';

@import 'settings';
@import 'foundation';


@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;


@include foundation-table;
@include foundation-tabs;

@include foundation-title-bar;

@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;


$header: 'Luckiest Guy',
cursive;
$copy: 'Oswald',
sans-serif;
$color1: rgba(241, 245, 243, 1);
$color2: rgba(101, 163, 160, 1);
$color4: rgba(192, 26, 22, 1);
$color3: rgba(215, 25, 128, 1);
$color5: rgba(239, 185, 11, 1);
$light: rgba(255, 255, 255, 1);
$dark: rgba(0, 0, 0, 1);
body {
    font: 16px/1.25 $copy;
    background-color: $light;
    text-align: center;
}

a {
    color: $color5;
    text-shadow: 1px 1px $dark;
}

a:visited {
    color: $color5;
}

a:hover {
    color: $color5;
}

a:active {
    color: $color5;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $header;
    font-weight: bold;
    text-shadow: 1px 1px $dark;
}

h1 {
    position: absolute;
    top: 150px;
    left: 1em;
    font-size: 3.75em;
    line-height: 1em;
    text-align: left;
    color: $color3;
    text-shadow: 2px 2px $dark;
}

h2 {
    position: absolute;
    left: 1em;
    font-size: 2em;
    text-align: left;
    color: $color1;
    text-shadow: 3px 3px $dark;
}

h2:nth-of-type(1) {
    top: 275px;
}

h2:nth-of-type(2) {
    top: 375px;
}

h3 {
    position: relative;
    z-index: 20;
    font-size: 2.25em;
    padding: 45px 0;
    color: $color3;
    overflow: hidden;
    :after {
        content: "";
        position: absolute;
        top: -25px;
        right: 0;
        width: 150%;
        height: 50px;
        background: $color2;
        transform-origin: 70% 0;
        transform: rotate(-2deg);
        z-index: -1;
    }
}

h4 {
    font-size: 1.75em;
    line-height: 1.2em;
    color: $color3;
}

h5 {
    font-size: 2.25em;
    color: $color3;
}

.row {
    max-width: 100%;
}

ul {
    margin-left: 0;
}

header {
    width: 100%;
    height: 500px;
    .hero-img {
        min-height: 600px;
        min-width: 100%;
        position: relative;
        z-index: 0;
        padding: 0;
        margin: 0;
    }
}
//Masthead navigation
nav {
    position: fixed;
    width: 100%;
    height: 25px;
    text-align: right;
    z-index: 200;
    transition: all .75s ease-in-out 0s;
    img {
        position: fixed;
        width: 33%;
        max-width: 200px;
        left: 0;
        right: 0;
        top: 0;
        transition: scale .35s ease-in-out 0s;
    }
    ul {
        background-color: $dark;
    }
    li {
        display: inline;
        margin-right: 10px;
        font: 2em/1.25 $header;
        background-color: $dark;
        padding-left: -25px;
    }
    li:nth-of-type(3) {
        margin-right: 30px;
    }
    //Hamburger submenu
    .menu-icon {
        color: $color5;
    }
}

.hide-nav {
    position: relative;
    transition: all .2s ease-in-out 0s;
}

.position-header-img {
    margin: -25px 0 0 0;
}

#submenu {
    clear: both;
    width: 40%;
    transition: all .75s ease-in-out 0s;
    z-index: 200;
}

.submenu {
    display: none;
    margin: -17px -100% 0 60%;
    float: right;
    height: 1px;
    li {
        display: none;
    }
}

.show {
    display: block;
    position: fixed;
    margin: -17px 0 0 60%;
    li {
        display: block;
    }
}

main {}

.about {
    background: $light;
    position: relative;
    z-index: 0;
    width: 100%;
    h3:after {
        content: "";
        position: absolute;
        top: 0px;
        right: 0;
        width: 150%;
        height: 50px;
        background: $color2;
        transform-origin: 100% 0%;
        transform: rotate(2deg);
        z-index: -1;
    }
    img {
        position: relative;
        width: 40%;
        max-width: 300px;
        margin: 0 0 40px 0;
        border-radius: 50%;
        z-index: 20;
    }
    p {
        position: relative;
        z-index: 20;
    }
}


//Styling for fallback menu section when visitors have javascript disabled
.menu {
    //add display:none; on page load via javascript

    position: relative;
    z-index: 20;
    figure {
        display: inline-block;    
        width: 50%;
        margin: 0;
        text-align: center;
    }
    //Text overlay of menu images
    figcaption {
        position: relative;
        top: -1.25em;
        font: 1.5em/1.25em $header;
        background: linear-gradient(to bottom, rgba(243, 241, 245, 0) 0%, rgba(243, 241, 245, .95) 100%);
        color: $dark;
        text-shadow: 1px 1px $color1;
    }
    div:nth-of-type(4) {
        margin-bottom: 10px;
    }
    button {
        background-color: $dark;
        height: 125px;
        width: 125px;
        font: bold 1.5em/1.5em $header;
        padding: 5px 5px;
        border: 3px solid $color5;
        border-radius: 50%;
        margin: 10px;
    }
}
//Styling for interactive burrito builder
.builder-menu {
    display: none;//changed to block on page load via javascript
    position: relative;
    z-index: 0;
    padding-bottom: 25px;
    //Style the header
    #builderBurrito {
        color: $color3;
    }
    background-color: $light;
    a {
        color: $dark;
    }
    p {
        font-weight: bold;
        color: $dark;
    }
    h3 {
        line-height: .85em;
    }
    span {
        margin-left: 30%;
    }
    #builderBowl {
        color: $color5;
    }
    div {
        background-color: $light;
        height: 240px;
    }
    //container for food photos
    #foodPics {
        position: relative;
        top: -40px;
        height: 150px;
        background-color: $light;
        overflow: hidden;
    }
    //Menu buttons for user to select
    table {
        position: relative;
        tbody {
            border: none;
        }
        th {
            background-color: $light;
        }
        td {
            margin: 0;
            padding: 0;
            background-color: $light;
        }
        button {
            width: 100%;
            height: 60px;
            font-weight: bold;
            border: 2px solid $light;
            background-color: $color5;
                      
        }
    }
    table:nth-of-type(3) {
        td {
            margin: 0;
            padding: 0;
        }
        button {
            height: 45px;
            :last-child {
                color: $color3;
            }
        }
    }
    #order {
        color: $color5;
    }
}

//Styles for images that are inserted via javascript
#tortillaImage {
    position: relative;
    z-index: 80;
    height: 150px;
    transition: all 1s ease-in-out 0s;
}

.proteinImage {
    position: relative;
    z-index: 70;
    height: 150px;
    margin-right: -200%;
    top: -150px;
    transition: all 1s ease-in-out 0s;
}

.riceImage {
    position: relative;
    z-index: 35;
    height: 150px;
    margin-right: -200%;
    top: -390px;
    transition: all 1s ease-in-out 0s;
}

.burritoImage {
    position: relative;
    z-index: 20;
    height: 150px;
    margin-right: -200%;
    top: -640px;
    transition: all 1s ease-in-out 0s;
}

//Stack the menu categories, shirnk the bottom ones and set up transitions
#protein {
    position: relative;
    z-index: 100;
    top: -40px;
    transition: all 1s ease-in-out 0s;
}

#rice {
    position: relative;
    z-index: 40;
    top: -340px;
    transition: all 1s ease-in-out 0s;
}

.rice {
    opacity: 0;
    transform: scale(.25, .25);
}

#toppings {
    position: relative;
    z-index: 30;
    top: -680px;
    transition: all 1s ease-in-out 0s;
}

.toppings {
    opacity: 0;
    transform: scale(.25, .25);
}

.selected {
    color: $color4;
}

#order-message {
    position: relative;
    z-index: 20;
    top: -940px;
    transition: all 1s ease-in-out 0s;
    color: $dark;
}

.order-message {
    opacity: 0;
    transform: scale(.25, .25);
    a {
        color: $dark;
    }
    button {
        position: relative;
        z-index: 30;
        padding: 5px;
        font-size: 1.25em;
        border: 2px solid $light;
        height: 55px;
        width: 200px;
    }
    span {
        font-size: 1.25em;
    }
}

.pdf {
    padding-bottom: 15px;
    a {
        color: $dark;
    }
    a:visited {
        color: $dark;
    }
    a:hover {
        color: $dark;
    }
    a:active {
        color: $dark;
    }
    button {
        padding: 5px;
        font-size: 1.25em;
        border: 2px solid $light;
        background-color: $color5;
        height: 55px;
        width: 200px;
    }
}

.slideLeft {
    width: 150px;
    transition: all 1s ease-in-out 0s;
    margin-left: -400%;
    margin-right: 0;
}

.slideIn {
    transition: all 1s ease-in-out 0s;
    margin: 0%;
}

.scaleUp {
    opacity: 1;
    transform: scale(1, 1);
}
//Styling the reviews
.yelp {
    width: 100%;
    background: $light;
    h3:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 150%;
        height: 50px;
        background: $color2;
        transform-origin: 100% 0;
        transform: rotate(2deg);
        z-index: -1;
    }
}

#yelp {
    width: 90%;
    margin: 0 auto;
}

footer {
    padding: 25px 0 45px 0;
    background-color: $dark;
    color: $color1;
    li {
        display: inline;
        list-style-type: none;
    }
    .map {
        #mapContainer {
            position: relative;
            z-index: 1;
        }
        #googleMap {
            width: 90%;
            height: 400px;
            margin: 0 auto;
            position: relative;
            z-index: -1;
        }
        span.map-overlay {
            position: absolute;
            width: 90%;
            height: 100%;
            top: 0;
            left: 5%;
            margin: 0 auto;
            z-index: 3;
            background-color: $color2;
            opacity: .4;
        }
        //The z-index places the p tag under the span tag so it doesn't interfere with the click 
        p.map-overlay {
            position: absolute;
            top: 100px;
            left: 20%;
            z-index: 2;
            text-align: center;
            font: bold 2.25em/1em $header;
            color: $dark;
        }
    }
    .contact {
        ul {
            margin: 45px 0 0 -15px;
        }
        li {
            font-size: 1.5em;
            line-height: 2em;
        }
    }
    .social {
        li {
            font-size: 40px;
            padding: 0 5px;
        }
    }
}

.copy {
    width: 100%;
    i {
        font-size: 45px;
        padding-left: 35px;
    }
}
//Chrome specific media queies
@supports (-webkit-appearance:none) {
    #rice {
        top: -300px;
    }
    #toppings {
        top: -625px;
    }
}
//Firefox specific
@-moz-document url-prefix() {
    #order-message {
        top: -990px;
    }
}

//Tablet and up
@media only screen and (min-width: 769px) {
    body {
        font-size: 24px;
    }
    header {
        height: 600px;
        overflow: hidden;
    }
    .about img {
        width: 60%;
    }
    .hero-img {
        top: -400px;
    }
    h1,
    h2 {
        padding-left: 20%;
    }
    h2:nth-of-type(1) {
        top: 375px;
    }
    h2:nth-of-type(2) {
        top: 525px;
    }
    #elephant-marker {
        display: block;
    }
    table {
        width: 70%;
        margin: 0 auto;
    }
    #order-message {
        top: -1040px;
        width: 70%;
        margin: 0 auto;
    }
    #yelp {
        display: inline;
    }
    #yelpwidget {
        padding: 0 15%;
    }
    .social li {
        display: block;
    }
    @supports (-webkit-appearance:none) {
        #rice {
            top: -350px;
        }
        #toppings {
            top: -725px;
        }
    }
}

